<%= form_for(@equipment) do |f| %>

  <% if @equipment.errors.any? %>
    <%= report_errors(@equipment) %>
  <% end %>

    <div class="field">
      <div class="row collapse">
        <div class="small-4 columns">
          <span class="prefix">Category</span>
        </div>
        <div class="small-8 columns">
          <%= f.collection_select(:category_id, Category.all, :id, :name)%>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="row collapse">
        <div class="small-4 columns">
          <span class="prefix">Name</span>
        </div>
        <div class="small-8 columns">
          <%= f.text_field :name %>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="row collapse">
        <div class="small-4 columns">
          <span class="prefix">Barcode</span>
        </div>
        <div class="small-8 columns">
          <%= f.text_field :barcode %>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="row collapse">
        <div class="small-4 columns">
          <span class="prefix">Tags</span>
        </div>
        <div class="small-8 columns">
          <div id="tag-checkboxes" class="hide">
            <%= f.collection_check_boxes :tags, Tag.all, :id, :name, checked: @equipment.tags.map(&:id) %>
          </div>
          <input id="equipment_tags_search" type="text" class="tagsearch">
          <br/>
          <div id="tag-list">
          </div>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="row collapse">
        <div class="small-4 columns">
          <span class="prefix">Serial Number</span>
        </div>
        <div class="small-8 columns">
          <%= f.text_field :serial_number %>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="row collapse">
        <div class="small-4 columns">
          <span class="prefix">Stored</span>
        </div>
        <div class="small-8 columns">
          <%= f.text_field :stored %>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="row collapse">
        <div class="small-4 columns">
          <span class="prefix">Status</span>
        </div>
        <div class="small-8 columns">
          <%= f.select :status, options_for_select(Equipment.valid_statuses, @equipment.status) %>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="row collapse">
        <div class="small-4 columns">
          <span class="prefix">Contents</span>
        </div>
        <div class="small-8 columns">
          <%= f.text_area :contents %>
        </div>
      </div>
    </div>

    <script>
   
    //bypass for appilciation,js functions not being called in this form
    window.onload = function () {

      //tick the checkbox and genrate the UI for updating equipment
      $('#tag-checkboxes').children('input[type="checkbox"]').each(function()
      {
        var element = $(this);

        if(!element.attr('checked'))
        {
          return;
        }

        var element_id = element.attr('id');
        var element_name = $('label[for='+ element_id + ']').text();

        var id = element_id.split('_');
        id = id[id.length - 1];

        var tag_name = 'tag-id-' + id;

        $('#tag-list').append('<a id="' + tag_name + '" class="secondary label" href="#">' + element_name + ' &times;</a>&nbsp;');
        $('#' + tag_name).click(function()
        {
          element.prop('checked', false);
          $('#' + tag_name).remove();
        });    
      });

      var $tag_input = $('.tagsearch');

      var tag_engine = new Bloodhound({
        datumTokenizer: function(obj) { 
          return Bloodhound.tokenizers.whitespace(obj.name); 
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: { 
          url: '/tags.json'
        }
      });
      tag_engine.clearPrefetchCache();
      tag_engine.initialize();


      $tag_input.typeahead(null, {
        name: 'tags',
        displayKey: 'name',
        source: tag_engine.ttAdapter()
      });

      /*
      $tag_input.typeahead({
        name: 'tags',
        prefetch: { url: '/tags.json' },
        valueKey: 'name'
      });*/

      $tag_input.on('typeahead:selected', function (event, suggestion) {
          //reset the textbox
          $tag_input.val('');

          if(suggestion.added == true)
          {
            return;
          }

          var should_return = false;
          //check if it is loaded already ticked from a previous edit session
          $('#tag-list').children().each(function ()
          {
            var element = $(this);
            if(element.attr('id').indexOf(suggestion.id) > -1)
            {
              should_return = true;
              return;
            }
          });

          if(should_return)
          {
            return;
          }

          //check the appropriate checkbox
          $('#equipment_tags_' + suggestion.id).prop('checked', true);
          suggestion.added = true;

          //add a visual tag to the ui and logic to untick it
          var tag_name = 'tag-id-' + suggestion.id;
          $('#tag-list').append('<a id="' + tag_name + '" class="secondary label" href="#">' + suggestion.name + ' &times;</a>&nbsp;');
          $('#' + tag_name).click(function()
          {
            $('#equipment_tags_' + suggestion.id).prop('checked', false);
            $('#' + tag_name).remove();
            suggestion.added = false;
          });
      });

    };

    </script>

  <div class="actions">
    <%= f.submit :class => 'button' %>
    <% if !@equipment.new_record? %>
      <%= link_to 'Delete Equipment', @equipment, confirm: 'Are you sure? This will delete all past, present, and future bookings related to this equipment from the database. This action cannot be undone.', method: :delete, :class => 'button alert' %>
    <% end %>
  </div>
<% end %>
