<%= form_for(@equipment) do |f| %>

  <% if @equipment.errors.any? %>
    <%= report_errors(@equipment) %>
  <% end %>

    <div class="field">
      <div class="row collapse">
        <div class="small-4 columns">
          <span class="prefix">Category</span>
        </div>
        <div class="small-8 columns">
          <%= f.collection_select(:category_id, Category.all, :id, :name)%>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="row collapse">
        <div class="small-4 columns">
          <span class="prefix">Name</span>
        </div>
        <div class="small-8 columns">
          <%= f.text_field :name %>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="row collapse">
        <div class="small-4 columns">
          <span class="prefix">Barcode</span>
        </div>
        <div class="small-8 columns">
          <%= f.text_field :barcode %>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="row collapse">
        <div class="small-4 columns">
          <span class="prefix">Stored</span>
        </div>
        <div class="small-8 columns">
          <%= f.text_field :stored %>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="row collapse">
        <div class="small-4 columns">
          <span class="prefix">Status</span>
        </div>
        <div class="small-8 columns">
          <%= f.select :status, options_for_select(Equipment.valid_statuses, @equipment.status) %>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="row collapse">
        <div class="small-4 columns">
          <span class="prefix">Contents</span>
        </div>
        <div class="small-8 columns">
          <%= f.text_area :contents %>
        </div>
      </div>
    </div>

  <div class="actions">
    <%= f.submit :class => 'button' %>
  </div>
<% end %>
