<div class="row">
  <div class="small-12 columns">
    <h1>
      Equipment
      <%= link_to 'Add', new_equipment_path, :class => 'button' %>
    </h1>

    <table>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Barcode</th>
        <th>Status</th>
        <th>Updated</th>
      </tr>

    <% @equipment.each do |equipment| %>
      <tr>
        <td>
          <%= link_to equipment.name, edit_equipment_path(equipment) %>
        </td>
        <td>
          <%= equipment.category.name if equipment.category %>
        </td>
        <td>
          <%= equipment.barcode %>
        </td>
        <td>
          <%= Equipment.get_status(equipment.status) %>
        </td>
        <td>
          <%= equipment.updated_at.to_date if equipment.updated_at %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>