<p id="notice"><%= notice %></p>

<p>
  <b>Barcode:</b>
  <%= @equipment.barcode %>
</p>

<p>
  <b>Name:</b>
  <%= @equipment.name %>
</p>

<p>
  <b>Stored:</b>
  <%= @equipment.stored %>
</p>

<p>
  <b>Status:</b>
  <%= @equipment.status %>
</p>


<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
