
<%= form_for(@booking) do |f| %>
<% if @booking.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

	<ul>
		<% @booking.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, class: "alert-box" %>
<% end %>


<div id="sign_out_tab" class="reveal-modal">
	<% for equip in Equipment.find(:all) %>
		<% if @booking.equipments.include?(equip) %>
			<% if !@booking.sign_out_times.key?(equip.id) %>
					<% sign_out = true %>
				<p>
					<%= check_box_tag "booking[sign_out_ids][]", equip.id, false, { :id => "bc_out_#{equip.barcode}" } %>
					<%= equip.name %>
				</p>
			<% end %>
		<% end %>
	<% end %>
	<a href="#" class="small button success" onclick="$('#sign_out_tab').foundation('reveal','close')">Done</a>
</div>
<div id="sign_in_tab" class="reveal-modal">
	<% for equip in Equipment.find(:all) %>
		<% if @booking.equipments.include?(equip) %>
			<% if !@booking.sign_in_times.key?(equip.id) and @booking.sign_out_times.key?(equip.id) %>
				<% sign_in = true %>
				<p>
					<%= check_box_tag "booking[sign_in_ids][]", equip.id, false, { :id => "bc_in_#{equip.barcode}" } %>
					<%= equip.name %>
				</p>
			<% end %>
		<% end %>
	<% end %>
	<a href="#" class="small button success" onclick="$('#sign_in_tab').foundation('reveal','close')">Done</a>
</div>

<div class="row">
	<div class="large-5 columns">
		
		<div class="section-container accordion" data-section="accordion">
			<% for cat in Category.find(:all) %>
				<section>
					<p class="title"><a href="#"><%= cat.name %></a></p>
					<div class="content">
						<% for equip in cat.equipments.order('name ASC') %>
							<%= check_box_tag "booking[equipment_ids][]", equip.id, @booking.equipments.include?(equip) %>
							<%= equip.name %>
							<br />
						<% end %>
					</div>
				</section>
			<% end %>
			<section>
				<p class="title"><a href="#">Uncategorized</a></p>
				<div class="content">
					<% for e in Equipment.where(category_id: nil).order('name ASC') %>
						<%= check_box_tag "booking[equipment_ids][]", e.id, @booking.equipments.include?(e) %>
						<%= e.name %>
						<br />
					<% end %>
				</div>
			</section>
		</div>
		<% if sign_out %>
			<a id="sign_out_button" href="#" class="button" data-reveal-id="sign_out_tab">Sign Out</a>	
		<% end %>
		<% if sign_in %>
			<a id="sign_in_button" href="#" class="button" data-reveal-id="sign_in_tab">Sign In</a>
		<% end %>
	</div>
	<div class="large-7 columns">
		<div class="field">
			<% username = @booking.user.nil? ? "" : @booking.user.username %>
			<%= f.text_field :user, :class => 'usersearch', :value => username %>
			<%= check_box_tag 'create_if_new', 'create', false %>
			<%= "Create user if new?"%>
			<div class="field">
				<h3><%= f.label :schedule %></h3>
				<% if @booking.schedule != nil %>
					<% s = IceCube::Schedule.from_yaml(@booking.schedule) %>
					<% sd = DateTime.parse(s.start_time.to_s) %>
					<% ed = DateTime.parse(s.end_time.to_s) %>
					<% start_d = sd.strftime("%m/%d/%Y") %>
					<% start_t = sd.strftime("%I:%M %p")%>
					<% end_d = ed.strftime("%m/%d/%Y") %>
					<% end_t = ed.strftime("%I:%M %p")%>
				<% else %>
					<% start_d = Time.now.strftime("%m/%d/%Y") %>
					<% start_t = Time.now.strftime("%I:%M %p") %>
					<% end_d = start_d %>
					<% end_t = start_t %>
				<% end %>
				<p>
					Start Date:
					<%= text_field_tag :schedule_start, start_d %>
					<br />
					Start Time:
					<%= text_field_tag :schedule_start_time, start_t %>
					<br />
					End Date:
					<%= text_field_tag :schedule_end, end_d %>
					<br />
					End Time:
					<%= text_field_tag :schedule_end_time, end_t %>
				</p>
			</div>
		</div>
	</div>
</div>









	


<div class="actions">
	<%= f.submit %>
</div>
<% end %>
