<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <p>
  	  Select equipment
	  <div>
	  	<% for equip in Equipment.find(:all) %>
	  		<div>
	  			<%= check_box_tag "booking[equipment_ids][]", equip.id, @booking.equipments.include?(equip) %>
	  			<%= equip.name %>
	  		</div>
	  	<% end %>
	  </div>
  </p>
  <div class="field">
    <%= f.label :schedule %><br />
    <% if @booking.schedule != nil %>
	    <% s = IceCube::Schedule.from_yaml(@booking.schedule) %>
	    <% sd = Date.parse(s.start_time.to_s) %>
	    <% ed = Date.parse(s.end_time.to_s) %>
	    <% start_d = sd.strftime("%m/%d/%Y") %>
	    <% end_d = ed.strftime("%m/%d/%Y") %>
	<% else %>
		<% start_d = Time.now.strftime("%m/%d/%Y") %>
		<% end_d = start_d %>
    <% end %>
    <p>
	    Start:
	    <%= text_field_tag :schedule_start, start_d %>
	    <br />
	    End:
	    <%= text_field_tag :schedule_end, end_d %>
    </p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
