<div class="row">
	<div class="small-12 columns">
		<h3>Booking details</h3>
		<hr />
	</div>
</div>

<%= form_for(@booking) do |f| %>
<% if @booking.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
	
		<ul>
			<% @booking.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
<% end %>

<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, class: "alert-box" %>
<% end %>

<% if (@booking.equipments.count == @booking.sign_in_times.count) and @booking.equipments.count > 0 %>
	<% disable_ui = true %>
<% else %>
	<% disable_ui = false %>
<% end %>

<div class="row">
	<div class="large-6 columns">
		<div class="section-container accordion" data-section="accordion">
			<section>
				<p class="title" data-section-title>
					<a href="#"> <span class="label radius right">3 items</span> Equipment </a>
				</p>
				<div class="content" data-section-content>
					<ul id="equip_list" class="side-nav">
						<% if params[:ids] %>
							<% params[:ids].each do |id| %>
								<li>
									<div class="row">
										<div class="small-8 columns">
											<%= Equipment.find(id).category.name %>
											&gt;
											<%= Equipment.find(id).name %>
										</div>
										<div class="small-4 columns">
											<a class="label radius alert right remove"><i class="icon-remove"></i></a>
											<span class="round secondary label right">Booking</span>
										</div>
									</div>
									<%= hidden_field_tag "booking[equipment_ids][]", id %>
								</li>
							<% end %>
						<% end %>
						<% if @booking.equipments.count > 0 %>
							<% for equip in @booking.equipments %>
								<li>
									<% if !@booking.sign_out_times.key?(equip.id) %>
										<a class="label radius alert right remove"><i class="icon-remove"></i></a>
									<% end %>
									<%= equip.name %>
									<%= hidden_field_tag "booking[equipment_ids][]", equip.id %>
									<% if @booking.sign_in_times.key?(equip.id) %>
										<span id="status_<%= equip.barcode %>" class="right success label">In</span>
										<br />
										In at <%= @booking.sign_in_times[equip.id].strftime("%b %-d, %Y %I:%M %p") %>
									<% elsif @booking.sign_out_times.key?(equip.id) %>
										<%= hidden_field_tag "booking[sign_in_ids][]", nil, {:data => equip.id, :class => "scannable", :id => "bc_in_#{equip.barcode}"}%>
										<% if IceCube::Schedule.from_yaml(@booking.schedule).end_time < DateTime.now %>
											<span id="status_<%= equip.barcode %>" class="right alert label">Overdue</span>
											<br />
											Out at <%= @booking.sign_out_times[equip.id].strftime("%b %-d, %Y %I:%M %p") %>
										<% else %>
											<span id="status_<%= equip.barcode %>" class="right label">Out</span>
											<br />
											In at <%= @booking.sign_out_times[equip.id].strftime("%b %-d, %Y %I:%M %p") %>
										<% end %>
									<% else %>
										<%= hidden_field_tag "booking[sign_out_ids][]", nil, {:data => equip.id, :class => "scannable", :id => "bc_out_#{equip.barcode}"}%>
										<span id="status_<%= equip.barcode %>" class="right secondary label">Booked</span>
									<% end %>
									<br />
								</li>
							<% end %>	
						<% end %>
					</ul>
					<%= text_field_tag :add_equipment, nil, :class => 'equipsearch', :placeholder => "Add..." %>
				</div>
			</section>
			
		</div>
	</div>

	<div class="large-6 columns">
		<div class="row collapse">
			<div class="small-1 columns">
				<span class="prefix">
					<i class="icon-user"></i>
				</span>
			</div>
			<div class="small-8 columns">
				<% username = @booking.user.nil? ? "" : @booking.user.username %>
				<%= f.text_field :user, :class => 'usersearch', :value => username, :disabled => disable_ui, :placeholder => 'Type a user name' %>
			</div>
			<div class="small-3 columns">
				<span class="postfix">
					<label>
						<%= check_box_tag 'create_if_new', 'create', false, :disabled => disable_ui %>
						create
					</label>
				</span>
			</div>
		</div>

		<% if @booking.schedule != nil %>
			<% s = IceCube::Schedule.from_yaml(@booking.schedule) %>
			<% sd = DateTime.parse(s.start_time.to_s) %>
			<% ed = DateTime.parse(s.end_time.to_s) %>
			<% start_d = sd.strftime("%m/%d/%Y") %>
			<% start_t = sd.strftime("%I:%M %p")%>
			<% end_d = ed.strftime("%m/%d/%Y") %>
			<% end_t = ed.strftime("%I:%M %p")%>
		<% else %>
			<% start_d = Time.now.strftime("%m/%d/%Y") %>
			<% start_t = Time.now.strftime("%I:%M %p") %>
			<% end_d = start_d %>
			<% end_t = start_t %>
		<% end %>

		<hr />
		
		<div class="row">
			<div class="small-6 columns">
				<label>Booking date</label>
				<div class="row collapse">
					<div class="small-2 columns">
						<span class="prefix">
							<i class="icon-calendar"></i>
						</span>
					</div>
					<div class="small-10 columns">
						<%= text_field_tag :schedule_start, start_d, :disabled => disable_ui, :class => 'date' %>
					</div>
				</div>
			</div>
			<div class="small-6 columns">
				<label>Booking time</label>
				<div class="row collapse">
					<div class="small-2 columns">
						<span class="prefix">
							<i class="icon-time"></i>
						</span>
					</div>
					<div class="small-10 columns">
						<%= text_field_tag :schedule_start_time, start_t, :disabled => disable_ui, :class => 'time' %>
					</div>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="small-6 columns">
				<label>Return date:</label>
				<div class="row collapse">
					<div class="small-2 columns">
						<span class="prefix">
							<i class="icon-calendar"></i>
						</span>
					</div>
					<div class="small-10 columns">
						<%= text_field_tag :schedule_end, end_d, :disabled => disable_ui, :class => 'date' %>
					</div>
				</div>
			</div>
			<div class="small-6 columns">
				<label>Return time:</label>
				<div class="row collapse">
					<div class="small-2 columns">
						<span class="prefix">
							<i class="icon-time"></i>
						</span>
					</div>
					<div class="small-10 columns">
						<%= text_field_tag :schedule_end_time, end_t, :disabled => disable_ui, :class => 'time' %>
					</div>
				</div>
			</div>
		</div>

		<hr />

		<div class="row collapse">
			<div class="small-1 columns">
				<span class="prefix">
					<i class="icon-comments"></i>
				</span>
			</div>
			<div class="small-11 columns">
				<%= f.text_area :comments, :disabled => disable_ui, :placeholder => 'Enter comments related to this booking' %>
			</div>
		</div>

		<br />
	</div>
	<hr />
	
	<div class="actions">
		<% if !disable_ui %>
		<%= f.submit 'Update booking', :class => 'button success' %>
		<%= link_to 'Delete Booking', @booking, confirm: 'Are you sure? This cannot be undone.', method: :delete, :class => 'button alert right' %>
		<a class="close-reveal-modal"><i class="icon-remove"></i></a>
		<% end %>
	</div>
</div>
<% end %>