<h1>Listing bookings</h1>

<table>
  <tr>
    <th>User</th>
    <th>Schedule</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.user %></td>
    <td><%= booking.schedule %></td>
    <td><%= link_to 'Show', booking %></td>
    <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
    <td>
      <% if booking.sign_out_times.length == 0 %>
        <%= link_to 'Destroy', booking, confirm: 'Are you sure?', method: :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Booking', new_booking_path %>
