<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @booking.user %>
</p>

<p>
  <b>Equip bc:</b>
  <%= @booking.equip_bc %>
</p>

<p>
  <b>Schedule:</b>
  <% @sched = IceCube::Schedule.from_yaml(@booking.schedule) %>
  Start:
  <%= @sched.start_time %>
  End:
  <%= @sched.end_time %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
