<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @booking.user %>
</p>

<p>
	<b>Booked equipment:</b>
	<div>
		<!-- TODO: This seems like it would be slow. Better to find info on each piece of equipment. Same on _form -->
  	<% for equip in Equipment.find(:all) %>
  		<div>
  			<% if (@booking.equipment.include?(equip)) %>
  				<%= content_tag :li, equip.name %>
  			<% end %>
  		</div>
  	<% end %>
  </div>
</p>

<p>
  <b>Schedule:</b>
  <% @sched = IceCube::Schedule.from_yaml(@booking.schedule) %>
  Start:
  <%= @sched.start_time %>
  End:
  <%= @sched.end_time %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
