<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="row collapse">
      <div class="small-4 columns">
        <span class="prefix">Username</span>
      </div>
      <div class="small-8 columns">
        <%= f.text_field :username %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="row collapse">
      <div class="small-4 columns">
        <span class="prefix">Admin?</span>
      </div>
      <div class="small-8 columns">
        <%= f.select :admin, {"No" => false, "Yes" => true} %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="row collapse">
      <div class="small-4 columns">
        <span class="prefix">Status</span>
      </div>
      <div class="small-8 columns">
        <%= f.number_field :status %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="row collapse">
      <div class="small-4 columns">
        <span class="prefix">Comments</span>
      </div>
      <div class="small-8 columns">
        <%= f.text_area :comments %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit @user.new_record? ? 'Create user' : 'Update user', :class => "button submit right", :id => "submitUser" %>
  </div>
<% end %>
