<h3>User list</h3>

<table>
  <tr>
    <th>Username</th>
    <th>Admin</th>
    <th>Status</th>
	<th>Comments</th>
    <th>Actions</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.admin %></td>
    <td><%= user.status %></td>
	<td><%= user.comments %></td>
    <td class="actions">
		<ul class="inline-list">
			<li><%= link_to 'Show', user %></li>
			<li><%= link_to 'Edit', edit_user_path(user) %></li>
    		<li><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></li>
		</ul>
	</td>
  </tr>
<% end %>
</table>
