<div class="row">
  <div class="small-12 columns">
    <h1>Users <%= link_to "Add", new_user_path, :class => "button" %></h1>

    <table>
      <tr>
        <th>Username</th>
        <th>Admin</th>
        <th>Status</th>
        <th>Comments</th>
        <th>Updated</th>
      </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, edit_user_path(user) %></td>
        <td><%= user.admin %></td>
        <td><%= user.status %></td>
        <td><%= user.comments %></td>
        <td><%= user.updated_at.to_date if user.updated_at? %></td>
      </tr>
    <% end %>

    </table>
  </div>
</div>