<div id="equipmentList" class="section-container accordion" data-section="accordion" datd-options="one_up: false">
		<% for cat in Category.find(:all, :order => 'name') %>
		<section>
			<p class="title" data-section-title>
				<a href="#">
					<%= cat.name %>
					<span class="right radius label">
						<%= cat.equipments.where(:status => 1).count %> / <%= cat.equipments.count %>
					</span>
				</a>
			</p>
			<div class="content" data-section-content>
				<ul class="side-nav">
				<% for equip in cat.equipments.order('name ASC') %>
					<li>
						<span class="right"><%= check_box_tag equip.name, equip.id, false, :class => "equipCheck" %></span>
						<%= link_to equip.name, "#", :onclick => "reloadCalendar([#{equip.id}])" %>
					</li>
				<% end %>
				</ul>
			</div>
		</section>
	<% end %>
</div>