<div id="equipmentList" class="section-container accordion" data-section="accordion">
		<% for cat in Category.find(:all) %>
		<section>
			<p class="title" data-section-title>
				<a href="#">
					<%= cat.name %>
					<span class="right radius label">
						<%= cat.equipments.where(:status => 1).count %> / <%= cat.equipments.count %>
					</span>
				</a>
			</p>
			<div class="content" data-section-content>
				<ul class="side-nav">
				<% for equip in cat.equipments.order('name ASC') %>
					<li>
						<span class="right"><%= check_box_tag equip.name, equip.id, false, :class => "equipCheck" %></span>
						<%= link_to equip.name, "#", :onclick => "reloadCalendar([#{equip.id}])" %>
					</li>
				<% end %>
				</ul>
			</div>
		</section>
	<% end %>
	<section>
		<% uncat = Equipment.where(category_id: nil).order('name ASC') %>
		<p class="title" data-section-title>
			<a href="#">
				Uncategorized
				<span class="right radius label secondary">
					<%= Equipment.where(:status => 1, :category_id => nil).count %> / <%= uncat.count %>
				</span>
			</a>
		</p>
		<div class="content" data-section-content>
			<ul class="side-nav">
				<% uncat.each do |e| %>
					<li>
						<span class="right"><%= check_box_tag "equipID", e.id, false, :class => "equipCheck" %></span>
						<%= link_to e.name, "#", :onclick => "reloadCalendar([#{e.id}])" %>
					</li>
				<% end %>
			</ul>
		</div>
	</section>
</div>