<nav class="top-bar">
	<ul class="left title-area">
		<% Setting.find_by_key("site_name").nil? ? site_name = "Booking System" : site_name = Setting.find_by_key("site_name").value %>
    	<li class="name"><h1><%= link_to site_name, root_path %></h1></li>
		<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  	</ul>
	<section class="top-bar-section">
		<ul>
			<li class="divider"></li>
			<li><%= link_to 'Users', users_path %></li>
			<li><%= link_to 'Equipment', equipment_index_path %></li>
			<li><%= link_to 'Bookings', bookings_path %></li>
			<li class="divider"></li>
		</ul>
		<ul class="right">
			<li class="divider"></li>
			<li><%= link_to 'Settings', settings_path %></li>
			<% logout_path = root_path + 'logout' %>
			<li><%= link_to 'Logout ' + session[:cas_user], logout_path %></li>

		<ul>
	</section>
</nav>
