<br />
<div class="row">
	<div class="small-12 large-3 columns">
		<a id="createBooking" class="button expand disabled">No items selected</a>
		<%= text_field_tag :equipment, nil, :class => 'equipsearch' %>
		<%= render 'shared/equipment_list' %>
	</div>
	<div id="calendar" class="small-12 large-6 columns">
		<%= link_to "Show all equipment", "#", :onclick => "reloadCalendar()" %>
	</div>
	<div class="small-12 large-3 columns">
		<div class="section-container accordion" data-section="accordion">
			<section>
				<% upcoming = BookingsHelper::find_by_date_range(Time.now, Time.now + 3.day) %>
				<p class="title" data-section-title>
					<a href="#">
						<span class="label radius right"><%= upcoming.length %></span>
						Upcoming bookings
					</a>
				</p>

				<div class="content" data-section-content>
					<ul class="side-nav">
						<% for b in upcoming.sort_by{|booking| IceCube::Schedule.from_yaml(booking.schedule).start_time}[0..4] %>
							<li>
								<span class="right"><%= IceCube::Schedule.from_yaml(b.schedule).start_time.strftime("%b %-d, %Y %I:%M %p") %></span>
								<%= b.user.username %>
							</li>
							
						<% end %>
					</ul>
				</div>
			</section>
		</div>
		<div class="section-container accordion" data-section="accordion">
			<section>
				<% returns = BookingsHelper::find_by_date_range(Time.now, Time.now + 3.day) %>
				<p class="title" data-section-title>
					<a href="#">
						<span class="label radius right"><%= returns.length %></span>
						Upcoming returns
					</a>
				</p>
				<div class="content" data-section-content>
					<ul class="side-nav">
						<% for b in upcoming.sort_by{|booking| IceCube::Schedule.from_yaml(booking.schedule).end_time}[0..4] %>
							<li>
								<span class="right"><%= IceCube::Schedule.from_yaml(b.schedule).end_time.strftime("%b %-d, %Y %I:%M %p") %></span>
								<%= b.user.username %>
							</li>
						<% end %>
					</ul>
				</div>
			</section>
		</div>
	</div>
</div>