<br />
<div id="content">
	<div id="layout" class="row">
	<div class="large-3 columns">
		<a id="createBooking" class="button expand disabled">Select items to create a booking</a>
		<%= render 'shared/search_form' %>
		<%= render 'shared/equipment_list' %>
	</div>
	<div id="calendar-container" class="large-6 columns">
		<div id="calendar-loading">
			<%= render 'shared/loading' %>
		</div>
		<div id="calendar"></div>
		<%= render 'shared/legend' %>
	</div>
	<div class="large-3 columns">
		<div class="section-container accordion" data-section="accordion" data-options="one_up:true">
			<section>
				<% upcoming = find_by_date_range(Time.now, Time.now + 3.day) %>
				<p class="title" data-section-title>
					<a href="#">
						<span class="label radius right"><%= upcoming.length %></span>
						Upcoming bookings
					</a>
				</p>

				<div class="content" data-section-content>
					<% if upcoming.length > 0 %>
					<ul class="side-nav">
						<% for b in upcoming.sort_by{|booking| IceCube::Schedule.from_yaml(booking.schedule).start_time}[0..4] %>
							<li>
								<span class="right"><%= IceCube::Schedule.from_yaml(b.schedule).start_time.strftime("%b %-d, %Y %I:%M %p") %></span>
								<%= b.user.username %>
							</li>
							
						<% end %>
					</ul>
					<% else %>
						<p>There are no upcoming bookings.</p>
					<% end %>
				</div>
			</section>
		</div>
		<div class="section-container accordion" data-section="accordion" data-options="one_up:true">
			<section>
				<% returns = find_by_date_range(Time.now, Time.now + 3.day) %>
				<p class="title" data-section-title>
					<a href="#">
						<span class="label radius right"><%= returns.length %></span>
						Upcoming returns
					</a>
				</p>
				<div class="content" data-section-content>
					<% if returns.length > 0 %>
					<ul class="side-nav">
						<% for b in upcoming.sort_by{|booking| IceCube::Schedule.from_yaml(booking.schedule).end_time}[0..4] %>
							<li>
								<span class="right"><%= IceCube::Schedule.from_yaml(b.schedule).end_time.strftime("%b %-d, %Y %I:%M %p") %></span>
								<%= b.user.username %>
							</li>
						<% end %>
					</ul>
					<% else %>
					<p>There are no upcoming returns.</p>
					<% end %>
				</div>
			</section>
		</div>
		<div class="section-container accordion" data-section="accordion" data-options="one_up:true">
			<section>
				<% overdue = get_overdue_items() %>
				<p class="title" data-section-title>
					<a href="#">
						
						<span class="label radius right <% if overdue.length > 0 %>alert<% end %>"><%= overdue.length %></span>
						Overdue bookings
					</a>
				</p>

				<div class="content" data-section-content>
					<% if overdue.length > 0 %>
					<ul class="side-nav">
						<% for b in overdue.sort_by{|booking| IceCube::Schedule.from_yaml(booking.schedule).end_time} %>
							<li>
								<span class="right"><%= IceCube::Schedule.from_yaml(b.schedule).end_time.strftime("%b %-d, %Y %I:%M %p") %></span>
								<%= b.user.username %>
							</li>
							
						<% end %>
					</ul>
					<% else %>
						<p>There are no overdue items.</p>
					<% end %>
				</div>
			</section>
		</div>
		</div>
		
	</div>
</div>
</div>