<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Booking System" %></title>

  	<%= stylesheet_link_tag    "application" %>

  	<!--<%= javascript_include_tag "vendor/custom.modernizr" %>-->
    <%= csrf_meta_tags %>
  </head>

  <body id="mad">

	<%= render 'shared/navigation' %>
	<% if notice %>
		<div data-alert class="alert-box" id="notice">
			<%= notice %>
			<a href="#" class="close">&times;</a>
		</div>
	<% end %>
  <% if flash[:alert] %>
    <div data-alert class="alert-box alert" id="alert">
      <%= flash[:alert] %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>

	<div class="content">
		<%= yield %>
	</div>

	<!--
	<footer>
		<div class="row">
			<div class="small-6 columns">
				<p>&copy; 2014 uWaterloo</p>
			</div>
			<div class="small-6 columns">
				<ul class="inline-list right">
					<li><%= link_to 'Contact us', '/contact' %></li>
				</ul>
			</div>
	</footer>
	-->

	<div id="modalContainer" class="reveal-modal"></div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
